
@import './_globals.scss';

// 1 -
// delete all the styles and insert our own styles

@import url( 'https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap' );

body {
	
	font-family : "Nunito";
	color       : rgba( 51, 51, 51, 1 );

	background : rgba( 242, 242, 242, 1 );
}

a {

	color           : rgba( 51, 51, 51, 1 );
	text-decoration : none;

}

.layout-container {

	max-width : 960px;
	margin    : 0 auto;

}

nav {

	display         : flex;
	justify-content : space-between;
	margin          : 10px auto 80px;
	padding         : 10px 0;
	
	border-bottom : 1px solid rgba( 221, 221, 221, 1 );

}

.nav-right {

	display               : grid;
	grid-template-rows    : auto;
	grid-template-columns : repeat( 3, 1fr );
	align-content         : center;

}


footer {

	display : block;
	padding : 30px 0;
	margin  : 60px 0 0 0;

	border-top : 1px solid rgba( 234, 234, 234, 1 );

	color      : rgba( 119, 119, 119, 1 );
	text-align : center;

}


// End of 1 -

